.m-dist-service {
	padding: 0.1rem;
	.title {
		text-indent: 0.05rem;
		font-size: 0.16rem;
		font-weight: bold;
	}

	.u-dist-service-table {
		margin: .12rem 0 0 .02rem;
		border: none;
		font-size: 0.14rem;
		tr {
			height: 0.32rem;

			td {
				padding: 0.05rem;
				&.desc {
					color: #ccc;
					font-size: 0.12rem;
				}
			}
		}
	}
}