@import '../../../scss/_config.scss';

.u-group-member-list {
	.group-member-list {
		width: 100%;
		.group-member-list-item {
			display: flex;
			height: 0.56rem;
			line-height: 0.56rem;
			padding: 0.05rem 0.1rem 0.05rem 0.05rem;
			color: #41444e;
			border-bottom: 1px solid #ccc;

			span {
				font-size: 0.14rem;
				color: #41444e;
				line-height: 0.5rem;

				&.facebook,
				&.size,
				&.start-time,
				&.is-leader {
					text-align: center;
				}

				&.facebook {
					flex: 1;
					display: inline-block;
					position: relative;
				    .img {
				    	position: absolute;
				    	left: 50%;
				    	top: 50%;
				    	transform: translate(-50%, -50%);
						border-radius: 50%;
						width: 0.44rem;
						height: 0.44rem;
				    }
				}

				&.size {
					flex: 1;
				}

				&.start-time {
					flex: 4;
				}

				&.is-leader {
					flex: 1;
				}
			}
		}
	}
}
