
.m-header {
	position: fixed;
	width: 100%;
	height: 80px;
	line-height: 80px;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	background: #ccc;
}

.m-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	font-size: 28px;
	height: 50px;
	line-height: 50px;
	color: #fff;
	text-align: center;
	background: #09f;
	
}
