.amount-group {
	padding: 0.1rem 0.1rem 0.1rem 0.1rem;

	.amount-ctrl-list {
		display: flex;
		width: 100%;

		.amount-ctrl-list-item {
			flex: 3;

			line-height: 0.28rem;

			&.adult,
			&.child {
				flex: 1;
				text-align: right;
			}
		}
	}
}

.line {
	margin-bottom: 0.1rem;
}

.appended-person-list {
	.appended-person-list-item {
		margin-bottom: 0.1rem;
	}
}

.u-info-item {
	display: flex;
	width: 100%;
	height: 0.66rem;
	line-height: 0.66rem;
	
	.info-label,
	.info-value {
		border: none;
		border-radius: 0;
		font-size: 0.14rem;
		padding: 0.2rem 0 0.2rem 0;
		line-height: .28rem;
		background: #f8f8f8;
	}

	.info-label {
		text-indent: 0.2rem;
		flex:1;
	}

	.info-value {
		flex: 3;
	}
}