.m-header {
	padding: 0.1rem;

	text-align: center;

	.status-img {
		margin-top: 0.3rem;
		width: 0.66rem;
		height: 0.66rem;
	}

	.status-text {
		margin-top: 0.3rem;
		margin-bottom: 0.31rem;
		font-size: 0.15rem;
		text-align: center;
		color: #41444e;
	}
}