@import '../../../scss/_config.scss';

body {
	background: #f0eff5;
}

.m-fill-form {
	margin-bottom: 0.78rem;

	.m-group-info {
		margin: 0;
		padding: 0.05rem 0 0.05rem 0;
	
		.opt-header {
		    padding: 0.05rem;
		    margin-left: 0.1rem;
		    font-size: 0.14rem;
		    .ext-info {
		        margin-left: 0.05rem;
		        color: #ccc;
		        font-size: 0.12rem;
		    }
		}
	}

}
