.m-gallery {
  width: 100%;
  height: 1rem;
  margin: 0 auto;
  overflow-y: hidden;
  .scrollFixed {
    height: 1.06rem;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      width: 0;
      display: none;
    }
  }
  .container {
    -webkit-overflow-scrolling: touch;
    height: 1rem;
    display: flex;
  }
  .more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    border: 2px solid #E2E7EA;
    .more-cn {
      color: #2ac1bc;
      font-size: 0.13rem;
    }
    .division {
      margin: 0.06rem 0;
      .division-content {
        margin: 0 auto;
        width: 0.15rem;
        height: 0.015rem;
        background-color: #E2E7EA;
      }
    }
    .more-en {
      color: #8d919c;
      font-size: 0.11rem;
    }
  }
  .picItem {
    text-align: center;
    width: 1.27rem;
    height: 0.95rem;
    margin: 0.05rem 0 0.05rem 0.05rem;
    img {
      width: 1.27rem;
      height: 0.95rem;
    }
  }
  .slide-modal {
    &.hide {
      display: none;
    }
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #202024;
    z-index: 100;
    .returnBtn {
      position: absolute;
      left: 0.15rem;
      top: 0.33rem;
    }
    .slideNum {
      position: absolute;
      bottom: 0.35rem;
      width: 100%;
      text-align: center;
      font-size: 0.11rem;
      color: #fff;
    }
    .m-slider {
      width: 100%;
      height: 2.81rem;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -1.4rem;
      .slide {
        img {
          width: 100%;
          height: 2.81rem;
        }
      }
      .active {
        z-index: 100;
      }
    }
  }
}