@import '../../../scss/_config.scss';

.u-group-count-down {
	.group-list {
		width: 100%;
		padding: 0.05rem;
		.group-list-item {
			width: 0.42rem;
			height: 0.42rem;
			margin: 0.03rem;
			border-radius: 50%;
			background: #aaa;
			display: inline-block;

			transition: all 0.5s ease-in-out;

			&:hover {
				transform: rotateY(360deg)
			}
		}
	}
}
