.entry {
	position: relative;
	margin: 0.1rem auto;
	width: 2rem;
	padding: 0.1rem;
	border: 1px solid #ccc;
	border-radius: 0.04rem;
	cursor: pointer;
}

.list-item {
	height: 60px;
	line-height: 60px;
	background: #baff00;
	color: #222;
	border-bottom: 1px solid #ccc;
}